@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: Helvetica;
  vertical-align: middle;
}

.main-wrapper {
  border: 2px solid #000;
  width: 360px;
  height: 720px;
  border-radius: 25px;
  margin: 50px auto;
  background-image: url("../night.png");
}

.location-field-wrapper {
  width: 100%;
  padding: 1em;
}

.location-field-wrapper .location-form .location-input {
  width: 80%;
  height: 30px;
  outline: 0;
  border-radius: 25px;
  border: 2px solid #444;
  color: #000;
  padding-left: 16px;
  font-size: 1em;
}

.location-field-wrapper .location-form .location-submit {
  width: 20%;
  height: 30px;
  background-color: transparent;
  border: 0;
  font-size: 1em;
}

.location-field-wrapper .location-form .location-submit:hover {
  color: orange;
}

.current-weather-wrapper .current-location,
.current-weather-wrapper .date-container {
  text-align: center;
  font-size: 1em;
}

.current-weather-wrapper .date,
.current-weather-wrapper .time {
  font-size: 0.85em;
  color: #aaa;
}

.current-weather-wrapper .weather-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.current-weather-wrapper .weather-icon {
  position: relative;
  width: 25%;
}

.current-weather-wrapper .weather-temperature {
  font-size: 5em;
}

.current-weather-wrapper .weather-temperature::after {
  content: "˚";
}

.current-weather-wrapper .weather-row2 {
  text-align: center;
  padding-bottom: 12px;
}

.current-weather-wrapper .high-low,
.current-weather-wrapper .feels {
  color: #ccc;
  font-size: 1em;
}

.current-weather-wrapper .weather-row3 {
  text-align: center;
  font-size: 1em;
}

.forecast-wrapper {
  padding: 0 12px;
  margin: 24px 0;
}

.forecast-wrapper .forecast-title {
  padding: 0 6px;
  font-size: 1em;
}

.forecast-wrapper .forecast-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  padding: 16px 12px;
  background-color: #555;
  font-size: 0.85em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forecast-wrapper .forecast-day,
.forecast-wrapper .forecast-temp {
  text-align: center;
}

.forecast-wrapper .forecast-icon img {
  width: 30px;
  padding: 10px 0;
}

.uvindex-wrapper {
  padding: 0 12px;
  margin: 24px 0;
}

.uvindex-wrapper .uvindex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  padding: 16px 12px;
  background-color: #555;
  font-size: 0.85em;
}

.uvindex-wrapper .uvindex-left {
  width: 50%;
  border-right: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.uvindex-wrapper .uvindex-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-wrapper {
  padding: 0 12px;
  margin: 24px 0;
}

.details-wrapper .daily-title {
  padding: 0 6px;
  font-size: 1em;
}

.details-wrapper .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  padding: 16px 12px;
  background-color: #555;
  font-size: 0.85em;
  display: block;
}

.details-wrapper .details-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-wrapper .details-icon-container {
  width: 40px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-wrapper .details-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #fff;
  margin-left: 8px;
  height: 32px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details-wrapper .wind-title-container {
  border-bottom: 0;
}
/*# sourceMappingURL=index.css.map */