$smallFont: .85em;
$regFont: 1em;
$largeFont: 5em;
$day: #444;
$night: #fff;

@mixin reset{
  margin: 0;
  padding: 0;
};

@mixin wrapper-props{
  padding: 0 12px;
  margin: 24px 0;
}

@mixin box-props{
  display: flex;
  border-radius: 10px;
  padding: 16px 12px;
  background-color: #555;
  font-size: $smallFont;
}

@mixin box-title {
  padding: 0 6px 2px;
  font-size: $regFont;
}

* {
  @include reset;
  box-sizing: border-box;
  color: #fff;
  font-family: Helvetica;
  vertical-align: middle;
}

.main-wrapper {
  border: 2px solid #000;
  width: 360px;
  height: 720px;
  border-radius: 25px;
  margin: 50px auto;
  background-color: #000;
}

.day-bg {
  background-image: url("../day.png");
}

.night-bg {
  background-image: url("../night.png");
}

.location-field-wrapper {
  width: 100%;
  padding: 1em;

  .location-form {
    .location-input {
      width: 80%;
      height: 30px;
      outline: 0;
      border-radius: 25px;
      border: 1px solid ;
      background-color: transparent;
      padding-left: 16px;
      font-size: $regFont;
    }

    .location-submit {
      width: 20%;
      height: 30px;
      background-color: transparent;
      border: 0;
      font-size: $regFont;
      outline: 0px;
    }

    .text-day {
      color: $day;
    }

    .text-night {
      color: $night;
    }

    .text-day:hover {
      color: #000;
    }

    .text-night:hover {
      color: #aaa;
    }

    .text-day::placeholder {
      color: $day;
    }

    .text-night::placeholder {
      color: $night;
    }
  }
}

.current-weather-empty-wrapper {
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;

  .current-weather-empty-text {
    text-align: center;
    line-height: 1.5em;
  }
}

.current-weather-wrapper {
  .current-location,
  .date-container {
    text-align: center;
    font-size: $regFont + .25;
    padding-bottom: 4px;
  }

  .text-day {
    color: $day;
  }

  .text-night {
    color: $night;
  }

  .date {
    font-size: $smallFont;
  }

  .weather-row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
  }

  .weather-icon {
    position: relative;
    width: 25%;
  }

  .weather-temperature {
    font-size: $largeFont;
  }

  .weather-temperature::after {
    content: "Ëš";
  }

  .weather-row2 {
    text-align: center;
    padding-bottom: 12px;
  }

  .high-low,
  .feels {
    font-size: $regFont;
  }

  .weather-row3 {
    text-align: center;
    font-size: $regFont;
  }
}

.hide {
  display: none;
}


.forecast-wrapper {
  @include wrapper-props;

  .forecast-title {
    @include box-title;
  }

  .text-day {
    color: $day;
  }

  .text-night {
    color: $night;
  }

  .forecast-container {
    @include box-props;
    align-items: center;
    justify-content: space-between;
  }

  .forecast-day,
  .forecast-temp {
    text-align: center;

  }

  .forecast-icon img {
    width: 30px;
    padding: 10px 0;
  }
}


.uvindex-wrapper {
  @include wrapper-props;

  .uvindex-container {
    @include box-props;
  }

  .uvindex-left {
    width: 50%;
    border-right: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .uvindex-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}


.details-wrapper {
  @include wrapper-props;

  .daily-title {
    @include box-title;
  }

  .text-day {
    color: $day;
  }

  .text-night {
    color: $night;
  }

  .details-container {
    @include box-props;
    display: block;
  }

  .details-row {
    display: flex;
    align-items: center;
  }

  .details-icon-container {
    width: 40px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details-title-container {
    display: flex;
    border-bottom: 1px solid #fff;
    margin-left: 8px;
    height: 32px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .wind-title-container {
    border-bottom: 0;
  }
}








 