@mixin reset{
  margin: 0;
  padding: 0;
};

* {
  @include reset;
  box-sizing: border-box;
  color: #fff;
  font-family: Helvetica;
  vertical-align: middle;
}

.main-wrapper {
  border: 2px solid #000;
  width: 360px;
  height: 720px;
  border-radius: 25px;
  margin: 50px auto;
  background-image: url("../night.png")
}

.location-field-wrapper {
  width: 100%;
  padding: 1em;

  .location-form {
    .location-input {
      width: 80%;
      height: 30px;
      outline: 0;
      border-radius: 25px;
      border: 2px solid #444;
      color: #000;
      padding-left: 16px;
      font-size: 1em;
    }

    .location-submit {
      width: 20%;
      height: 30px;
      background-color: transparent;
      border: 0;
      font-size: 1em;
    }

    .location-submit:hover {
      color: orange
    }
  }
}

.current-weather-wrapper {
  .current-location,
  .date-container {
    text-align: center;
  }

  .date,
  .time {
    font-size: .85em;
    color: #aaa;
  }

  .weather-row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
  }

  .weather-icon {
    position: relative;
    width: 25%;
  }

  .weather-temperature {
    font-size: 5em;
  }

  .weather-temperature::after {
    content: "˚";
  }

  .weather-row2 {
    text-align: center;
    padding-bottom: 12px;
  }

  .high-low,
  .feels {
    color: #ccc;
  }

  .weather-row3 {
    text-align: center;
  }
}


.forecast-wrapper {
  padding: 0 12px;
  margin: 24px 0;

  .forecast-title {
    padding: 0 6px;
  }

  .forecast-container {
    display: flex;
    border-radius: 10px;
    padding: 16px 12px;
    background-color: #555;
    align-items: center;
    justify-content: space-between;
  }

  .forecast-day,
  .forecast-temp {
    text-align: center;
    font-size: .85em;
  }

  .forecast-icon img {
    width: 30px;
    padding: 10px 0;
  }
}




 